
RewriteEngine on
RewriteCond %{HTTP_HOST} ^technofania\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.technofania\.in$
RewriteRule ^img\/?$ "http\:\/\/technofania\.in\/" [R=302,L]
RewriteCond %{HTTP_HOST} ^technofania\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.technofania\.in$
RewriteRule ^assets\/?$ "http\:\/\/technofania\.in\/" [R=302,L]
RewriteCond %{HTTP_HOST} ^technofania\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.technofania\.in$
RewriteRule ^manish123abc123\/?$ "http\:\/\/technofania\.in\/" [R=302,L]

